# Python
__pycache__/
*.py[cod]
*.so

# Testing & Linting
.pytest_cache/
.coverage
.ruff_cache/

# VSCode
*.code-workspace

# Data & Models (Crucial for ML projects)
*.csv
data/
mlruns/
*.pkl
*.joblib
*.onnx
*.pt
*.onnx*
models/
src/native/build/
.DS_Store
mlflow.db
*profile.txt

# Environments
.env
.venv/
venv/